---
import { WORK, PROJECTS } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'

import { contentfulClient } from '../lib/contentful'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import type { EntryFieldTypes } from 'contentful'



---

<BaseLayout
  title="Portfolio"
  description=""
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        My Projects
      </h2>
      <p style="color: red; border:solid black 1px; padding: 5px">I am in the proccess of recreating and hosting these on a website so they can be interacted with coming soon...</p>
    </TopLayout>
    <BottomLayout>
      <div class="flex w-full flex-wrap justify-center gap-2">
        {
          PROJECTS.map((entry: any) => (
            <ProjectCard
              key={entry?.sys?.id}
              href={entry?.website}
              heading={entry?.TITLE}
              subheading={entry?.description}
              imagePath={entry?.img}
              altText={entry?.TITLE}
              class="w-full sm:w-2/5"
            />
            <div class="flex w-full flex-wrap justify-center gap-2">
            <a href={entry?.repository}>Repository Link</a>
          </div>
          ))
        }
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
